*
{
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: none;
    outline: none;
}

html
{
    font-family: 'Poppins', sans-serif;
}

body
{
    width: 100%;
    background: #0e0e0e;
}

.wrapper
{
    width: 90%;
    margin: 0 auto;
}

.navBar::after
{
    display: table;
    clear: both;
    content: '';
}

h1
{
    font-size: 48px;
    color: #fff;
}

p
{
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}

/* navbar */

nav
{
    line-height: 70px;
    height: 70px;
}

nav a img
{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

nav a:nth-child(2)
{
    float: right;
}

/* header */

header
{
    margin: 100px 0 200px 120px;
}

header p
{
    width: 60%;
    margin-top: 10px;
}

/* .work */

.work
{
    width: 100%;
    text-align: center;
}

.work img
{
    width: 45%;
    margin: 1%;
}

/* header2 */

.header2
{
    margin: 130px 0 80px 40px;
}

/* .work2 */
.work2
{
    width: 100%;
    text-align: center;
}

.work2 img
{
    width: 94%;
    margin: 1%;
}

/* footer */
footer p
{
    margin: 60px auto;
    text-align: center;
    color: grey;
}

/* Responsiveness */

@media only screen and (max-width: 991px)
{
    header
    {
        margin: 100px 0 100px 30px;
        text-align: left;
    }

    header h1
    {
        font-size: 36px;
    }

    header p
    {
        font-size: 12px;
        width: 90%;
    }

    .work img
    {
        width: 90%;
        margin: 2%;
    }

    .header2
    {
        margin: 130px 0 40px 12px;
    }

    .header2 h1
    {
        font-size: 36px;
    }

    .header2 p
    {
        font-size: 12px;
        width: 90%;
    }

    .work2 img
    {
        margin: 2%;
    }
}
